.add {
    background-color: #007BFF; /* Bright blue color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.add:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.05);
}

.add:active {
    background-color: #004494; /* Even darker blue when clicked */
    transform: scale(0.98);
}

.editBtn{
    background-color:green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.editBtn:hover{
    background-color: #096300; /* Darker blue on hover */
    transform: scale(1.05);
}

.editBtn:Active{
    background-color: #005307; /* Even darker blue when clicked */
    transform: scale(0.98);
}

.deleteBtn{
    background-color:red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.deleteBtn:hover{
    background-color: #840101; /* Darker blue on hover */
    transform: scale(1.05);
}

.deleteBtn:Active{
    background-color: #4d0c01; /* Even darker blue when clicked */
    transform: scale(0.98);
}

.banBtn{
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.banBtn:hover{
    background-color: #b37100; /* Darker blue on hover */
    transform: scale(1.05);
}

.banBtn:Active{
    background-color: #945900; /* Even darker blue when clicked */
    transform: scale(0.98);
}

.in-in-content button{
margin-right:10px;
margin-top: 10px;
}
