.table-container {
    width: 90%;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-top: 20px;
    overflow-x: auto;
    /* Enable horizontal scrolling for small screens */
    max-height: 700px;
    /*Added a max height*/
    overflow-y: auto;
    /*Added a scroll*/
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    font-size: 0.9em;
    min-width: 400px;
}

.styled-table thead tr {
    background-color: #f0f0f0;
    color: #333;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #e0e0e0;
}

.styled-table tbody tr {
    border-bottom: 1px solid #e0e0e0;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #5c8d84;
}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: #444444;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table th {
    background-color: #009879;
    color: white;
    text-align: left;
}

.styled-table thead tr th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #009879;
    /* Ensure thead background color is set */
}

.no-data-message {
    padding: 1rem;
    text-align: center;
    color: #777;
    font-style: italic;
}
